<h1>TicTacToe!</h1>

<div class="gamelayout">
  <div class="layout-buttons">
    <button (click)="buttonClick(11)" class="game" type="button"></button>
    <button (click)="buttonClick(12)" class="game" type="button"></button>
    <button (click)="buttonClick(13)" class="game" type="button"></button>

    <button (click)="buttonClick(21)" class="game" type="button"></button>
    <button (click)="buttonClick(22)" class="game" type="button"></button>
    <button (click)="buttonClick(23)" class="game" type="button"></button>

    <button (click)="buttonClick(31)" class="game" type="button"></button>
    <button (click)="buttonClick(32)" class="game" type="button"></button>
    <button (click)="buttonClick(33)" class="game" type="button"></button>
  </div>
</div>

<button type="button" class="btn btn-primary">Start!</button>
<button type="button" class="btn btn-primary">Restart!</button>
