button.game {
  aspect-ratio: 1 / 1;
  width: 100%;
  background-color: rgb(96, 26, 26);
  
  border: 2px solid #221d1d;
  background-color: transparent;
  font-size: 2rem;
  color: #333;
  
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
    inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
    inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
    0 1px 0 0 rgba(255, 255, 255, 0.15);
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
}

button.game:hover {
  background-color: #eaeaea;
}

.layout-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.gamelayout{
  border: 3px solid rgb(0, 0, 0);
  background-image: url('https://img.freepik.com/free-vector/white-abstract-wallpaper_23-2148830026.jpg?w=2000');
}



