<div [ngClass]="messanger.showGame ? 'modal-body row page' : ''" >
  <div [ngClass]="messanger.showGame ? 'col-md-6' : 'hidden'">
    <app-game [roomCode]="code"></app-game>
    <ng-container *ngIf="messanger.showGame">
    </ng-container>
  </div>
  <div [ngClass]="messanger.showGame ? 'col-md-6' : ''">
    <div class="container">
      <div class="scroll">
        <ng-container *ngFor="let m of messanger.messages">
          <div
            [ngClass]="
              m.from !== currentUser.userName
                ? 'message-blue'
                : 'message-orange'
            "
          >
            <p class="message-content">{{ m.messageText }}</p>
            <div
              [ngClass]="
                m.from !== currentUser.userName
                  ? 'message-timestamp-left'
                  : 'message-timestamp-right'
              "
            >
              {{ m.date | date : "short" }}
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <br />
    <div class="message_write">
      <textarea
        [(ngModel)]="message.messageText"
        class="form-control"
        placeholder="type a message"
      ></textarea>
      <button (click)="sendMessage()" class="btn btn-success">Send</button>
      <ng-container *ngIf="!leaveChatClicked">
        <button type="button" (click)="leave()" class="btn btn-danger">
          Leave Chat
        </button>
        <ng-container *ngIf="messanger.showGame">
          <button type="button" class="btn btn-primary" (click)="hideGame()">
            HideGame
          </button>
        </ng-container>
        <ng-container *ngIf="!messanger.showGame">
          <button type="button" class="btn btn-primary" (click)="startGame()">
            Show Tic-Tac-ToeGame
          </button>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="leaveChatClicked">
        <p>
          Are you sure you want to leave? All the messages you`ve sent and
          reseives will be deleted.
        </p>
        <button (click)="confirmLeave()" type="button" class="btn btn-danger">
          Confirm
        </button>
        <button (click)="abortLeave()" type="button" class="btn btn-success">
          Go Back
        </button>
      </ng-container>
    </div>
  </div>
</div>
