<div class="container">
  <div class="scroll">
    <ng-container *ngFor="let m of messanger.messages">
      <div
        [ngClass]="
          m.from !== currentUser.userName ? 'message-blue' : 'message-orange'
        "
      >
        <p class="message-content">{{ m.messageText }}</p>
        <div
          [ngClass]="
            m.from !== currentUser.userName
            ? 'message-timestamp-left'
              : 'message-timestamp-right'
          "
        >
          {{ m.date | date : "short" }}
        </div>
      </div>
    </ng-container>
  </div>
  <div class="message_write">
    <textarea
      [(ngModel)]="message.messageText"
      class="form-control"
      placeholder="type a message"
    ></textarea>
    <div class="clearfix"></div>
    <div class="chat_bottom">
      <button (click)="sendMessage()" class="btn btn-success">Send</button>
    </div>
  </div>
</div>
