  <div class="container">
    <div class="scroll">
      <div class="message-blue">
        <p class="message-content">This is an awesome message!</p>
        <div class="message-timestamp-left">13:37</div>
      </div>

      <div class="message-orange">
        <p class="message-content">
          I agree that your slsiudgf isudhfid fhisdhf iusdhfi usdhifu hsdiuf
          hisudh fisu hdfiu message is awesome!
        </p>
        <div class="message-timestamp-right">13:37</div>
      </div>
      <div class="message-orange">
        <p class="message-content">
          I agree that your slsiudgf isudhfid fhisdhf iusdhfi usdhifu hsdiuf
          hisudh fisu hdfiu message is awesome!
        </p>
        <div class="message-timestamp-right">13:37</div>
      </div>
      <div class="message-orange">
        <p class="message-content">
          I agree that your slsiudgf isudhfid fhisdhf iusdhfi usdhifu hsdiuf
          hisudh fisu hdfiu message is awesome!
        </p>
        <div class="message-timestamp-right">13:37</div>
      </div>
      <div class="message-orange">
        <p class="message-content">
          I agree that your slsiudgf isudhfid fhisdhf iusdhfi usdhifu hsdiuf
          hisudh fisu hdfiu message is awesome!
        </p>
        <div class="message-timestamp-right">13:37</div>
      </div>
      <div class="message-orange">
        <p class="message-content">
          I agree that your slsiudgf isudhfid fhisdhf iusdhfi usdhifu hsdiuf
          hisudh fisu hdfiu message is awesome!
        </p>
        <div class="message-timestamp-right">13:37</div>
      </div>
      <div class="message-orange">
        <p class="message-content">
          I agree that your slsiudgf isudhfid fhisdhf iusdhfi usdhifu hsdiuf
          hisudh fisu hdfiu message is awesome!
        </p>
        <div class="message-timestamp-right">13:37</div>
      </div>
      <div class="message-orange">
        <p class="message-content">
          I agree that your slsiudgf isudhfid fhisdhf iusdhfi usdhifu hsdiuf
          hisudh fisu hdfiu message is awesome!
        </p>
        <div class="message-timestamp-right">13:37</div>
      </div>
      <div class="message-orange">
        <p class="message-content">
          I agree that your slsiudgf isudhfid fhisdhf iusdhfi usdhifu hsdiuf
          hisudh fisu hdfiu message is awesome!
        </p>
        <div class="message-timestamp-right">13:37</div>
      </div>
      <div class="message-orange">
        <p class="message-content">
          I agree that your slsiudgf isudhfid fhisdhf iusdhfi usdhifu hsdiuf
          hisudh fisu hdfiu message is awesome!
        </p>
        <div class="message-timestamp-right">13:37</div>
      </div>
      <div class="message-orange">
        <p class="message-content">
          I agree that your slsiudgf isudhfid fhisdhf iusdhfi usdhifu hsdiuf
          hisudh fisu hdfiu message is awesome!
        </p>
        <div class="message-timestamp-right">13:37</div>
      </div>
      <div class="message-orange">
        <p class="message-content">
          I agree that your slsiudgf isudhfid fhisdhf iusdhfi usdhifu hsdiuf
          hisudh fisu hdfiu message is awesome!
        </p>
        <div class="message-timestamp-right">13:37</div>
      </div>

      <div class="message-blue">
        <p class="message-content">Thanks!</p>
        <div class="message-timestamp-left">13:37</div>
      </div>
    </div>
  </div>
  <div class="message_write">
    <textarea class="form-control" placeholder="type a message"></textarea>
    <div class="clearfix"></div>
    <div class="chat_bottom">
      <button (click)="(sendMessage)" class="btn btn-success">Send</button>
    </div>
  </div>
